@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.active {
  color: #235cf8 !important;
}
.primary-btn {
  background-color: #235cf8;
  color: white;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
}
.primary-btn:hover {
  border: 1px solid #235cf8;
  color: black;
}
.secondary-btn {
  border: 1px solid #235cf8;
  color: #235cf8;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
}
.btn-save {
  background: #93b6f6;
  padding: 6px 10px;
  border: 0;
  color: white;
}
.banner {
  height: auto;
  background-image: url("../assets/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-bg {
  height: auto;
  background-image: url("../assets/testimonial-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-bg {
  height: auto;
  background-image: url("../assets/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-testimonial {
  font-size: 1.1rem;
  line-height: 1.9rem;
  color: #202020cc;
}
.about-bg {
  background: #ebf2f9;
}
.bg-grey {
  background-color: #f9f9f9;
}
.font {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2rem;
}
.footer-bg {
  background: #f8f9fa;
}

.font-sm {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.number {
  color: #235cf8b2;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
}

.card-img {
  position: relative;
}
.card-height {
  height: 20rem;
}
.card-img img {
  position: absolute;
  top: 66%;
  right: 0;
}

.half-circle {
  position: relative;
}
.add {
  position: absolute;
  left: 3%;
  top: 10%;
}

.add img {
  background: linear-gradient(37deg, #a0caffc7, #dbecff);
  z-index: 0;
  position: relative;
}

.text-header {
  color: #466bdd;
  font-size: 2.9rem;
  z-index: 100;
  position: sticky;
}
.half-circle-img {
  position: absolute;
  left: 0;
  top: 58%;
}
.rectangle {
  position: absolute;
  left: 7%;
  bottom: 6%;
}
.rectangle1 {
  position: absolute;
  right: 23%;
  top: 20%;
}
.circle {
  position: absolute;
  left: 7%;
  bottom: 2%;
}
.circle1 {
  position: absolute;
  right: 12%;
  bottom: 16%;
}
.sc {
  position: absolute;
  left: 19%;
  bottom: 14%;
}

/* promo  */
.line {
  position: absolute;
  bottom: 22%;
  right: 24%;
}
.rect-promo {
  position: absolute;
  bottom: 22%;
  right: 35%;
}
.circle-promo {
  position: absolute;
  bottom: 10%;
  right: 22%;
}
.sc-promo {
  position: absolute;
  top: 10%;
  right: 5%;
}

.what {
  position: absolute;
  right: 5%;
  top: 42%;
  z-index: -999;
}

/* books section  */
.rect {
  position: absolute;
  top: 17%;
  right: 12%;
}
.circ {
  position: absolute;
  bottom: 17%;
  right: 8%;
}
.circ-half {
  position: absolute;
  bottom: 38%;
  right: 0;
}

/* standard */
.full-circle {
  position: absolute;
  left: 0;
  top: 3%;
}
.rect-1 {
  position: absolute;
  left: 12%;
  top: 40%;
}
.rect-2 {
  position: absolute;
  right: 14%;
  top: 27%;
}
.circ-1 {
  position: absolute;
  left: 12%;
  bottom: 10%;
}
.circ-2 {
  position: absolute;
  right: 14%;
  bottom: 20%;
}
.sc1 {
  position: absolute;
  right: 0;
  top: 40%;
}

/* free */
.half-circle1 {
  position: absolute;
  left: 0;
  top: 14%;
}
.half-circle2 {
  position: absolute;
  right: 0;
  top: 40%;
}
.rect-3 {
  position: absolute;
  left: 12%;
  bottom: 25%;
}
.rect-4 {
  position: absolute;
  right: 6%;
  top: 7%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: blue;
  color: blue !important;
  border-radius: 50%;
  padding: 10px;
}

.promo-style {
  color: #be1414;
}
