@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.active {
  color: #235cf8 !important;
}
.primary-btn {
  background-color: #235cf8;
  color: white;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
}
.primary-btn:hover {
  border: 1px solid #235cf8;
  color: black;
}
.secondary-btn {
  border: 1px solid #235cf8;
  color: #235cf8;
}
.btn-save {
  background: #93b6f6;
  padding: 6px 10px;
  border: 0;
  color: white;
}
.text-header {
  color: #466bdd;
  font-size: 2.9rem;
}
.banner {
  height: auto;
  background-image: url("../assets/background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-bg {
  height: auto;
  background-image: url("../assets/testimonial-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-testimonial {
  font-size: 1.1rem;
  line-height: 1.9rem;
  color: #202020cc;
}
.about-bg {
  background: #ebf2f9;
}
.bg-grey {
  background-color: #f9f9f9;
}
.font {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2rem;
}
.footer-bg {
  background: #f8f9fa;
}

.font-sm {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
.number {
  color: #235cf8b2;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: blue;
}
